Package: steam-login
Version: 4
Section: Games
Priority: optional
Architecture: all
Depends: xfwm4
Maintainer: Thomaz Reis <thor27@gmail.com>
Installed-size: 52
Homepage: https://github.com/thor27/steam-login/
Description: Put Steam BigPicture mode at login screen.
 With the release of Steam Beta, and steam BigPicture mode on Linux, this package will put Steam as a login option, so you will be able to open only Steam and needed software to make it run correctly. It's almost a Steam Desktop.
